{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <h1>This is the home page!</h1>
    <form action="/search_url" method="post">
        <div class="form-group">
            <label for="search_url">Search:</label>
            <input type="text" class="form-control" id="search_url" name="search_query" placeholder="Enter your search query">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}

