{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- The Modal -->

<title>Home</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
<link rel="stylesheet" type="text/css" href="/static/css/mainpage.css">

<!-- modal -->
<div id="input-modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">新增播放清單：請輸入名稱</h5>
        <div class="btn-close" data-bs-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="recipient-name"
              placeholder="我的個人專屬名稱">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="add-list" data-bs-dismiss="modal">新增播放清單</button>
      </div>
    </div>
  </div>
</div>

<!-- playlist list -->
<div class="container">
  <h1>Your Playlists</h1>
  <div id="playlistContainer">
    <!-- Playlists will be loaded here -->
  </div>
  
  <button id="newPlaylistButton" class="new-playlist-button" style="font-size:32px;font-weight:bold" >+</button>
</div>

<script>
  $(document).ready(function () {
    // Fetch all playlists
    $.ajax({
      url: "/get_all_list",
      method: "POST",
      contentType: "application/json",
      success: function (data) {
        if (data.status === "error") {
          window.location.href = "/login";
        } else {
          $("#playlistContainer").empty();
          $.each(data.datas, function (index, playlist) {
            $("#playlistContainer").append(`
              <div class="new-playlist-button playlist-btn"> 
                <a href="/play/${playlist.id}" class="button">
                  <div>${playlist.title}</div>
                </a>
              </div>
            `);
          });
        }
      },
      error: function (xhr, status, error) {
        console.error("Error fetching playlists:", error);
        window.location.href = "/login";
      }
    });

    // Create new playlist

    $("#newPlaylistButton").on("click", function() {
      $("#input-modal").modal('show');
    });

    $("#add-list").on("click", async function() {
      const name = $("#recipient-name").val();

      if (name.trim() === '') {
        alert('請輸入有效的 名稱。');
        return;
      }

      $.ajax({
        url: "/creat_playlist",
        method: "POST",
        contentType: "application/x-www-form-urlencoded",
        data: { name: name, type: "public" },
        success: function (data) {
          if (data.status === "success") {
            // alert("Playlist created successfully!");
            location.reload();
          } else {
            alert("Failed to create playlist. Please try again.");
          }
        },
        error: function (xhr, status, error) {
          console.error("Error creating playlist:", error);
          alert("Failed to create playlist. Please try again.");
        }
      });
    });
    
  });
</script>

{% endblock %}
