{% extends "base.html" %}

{% block title %}Now Playing{% endblock %}

{% block content %}
<!-- 參考網址 https://codepen.io/Nirtz89/pen/abzyjYz -->

<link rel="stylesheet" type="text/css" href="/static/css/playing.css">

<!-- The Modal -->
<div id="input-modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">新增音樂：請輸入連結</h5>
        <div class="btn-close" data-bs-dismiss="modal"><i class="fas fa-times"></i></div>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">URL:</label>
            <input type="text" class="form-control" id="recipient-name" placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="add-music" data-bs-dismiss="modal">加入音樂</button>
      </div>
    </div>
  </div>
</div>

<!-- Player container -->
<div class="container">
  <div class="iphone neu">
    <div class="title">
      <div>NOW PLAYING</div>
    </div>

    <div class="album-cover">
      <div class="album-overlay"></div>
      <img id="album-cover"
        alt="rock">
      <div class="album-text">
        <h2 id="song-title">
          Song Name
        </h2>
        <h3 id="artist-title">
          Artist Name
        </h3>
      </div>
    </div>

    <div class="buttons">
      <button class="btn lg neu" id="shuffle-button"><i class="fa fa-random" ></i></button>
      <button class="btn lg neu" id="prev-button"><i class="fas fa-backward"></i></button>
      <button class="btn lg neu" id="play-button"><i class="fas fa-play"></i></button>
      <button class="btn lg neu" id="next-button"><i class="fas fa-forward"></i></button>
    </div>

    <audio id="audio-player"></audio>

    <div style="padding-top: 1em;"></div>

    <div class="track-container">
      <div class="track neu" id="progress-container">
        <div id="progress"></div>
      </div>

      <div class="progress-time-display">
        <div id="now-display" class="time-display">0:00</div>
        <div id="total-display" class="time-display">0:00</div>
      </div>
    </div>

    <div style="padding-top: 1em;"></div>
    <div class="sound-container">
      <div class="volume-icon">
        <i class="fas fa-volume-up sound-icon"></i>
        <div id="sound-display" class="time-display">100%</div>
      </div>
      <div class="track neu" id="soundbar-container">
        <div id="sound-bar"></div>
      </div>
    </div>
    <!-- <div class="lyrics">
        <i class="fas fa-angle-up"></i>
        <span>LYRICS</span>
      </div> -->
  </div>

  <div style="margin: 1em;">
    <div id="playlist-button"><i class="fas fa-chevron-right"></i></div>
  </div>

  <div class="neu playlist song-list">
    <div class="title">
      <div id="playlist-list"><i class="fas fa-list fa-lg"></i></div>
      <div>PLAY LIST</div>
      <div id="playlist-add"><i class="fas fa-plus fa-lg"></i></div>
    </div>
    <!-- <div class="song-list"> -->
      <div class="songlist">
        {% for song in playlist_data %}
        <button class="song neu-s" data-count="{{ loop.index0 }}">

          <img src="{{ song.thumbnail_url }}" alt="{{ song.title }}">

          <div class="song-text">
            <h2 class="song-title">
              {{ song.title }}
            </h2>
            <h3 class="artist-title">
              {{ song.artist }}
            </h3>
          </div>

          <div class="btn-delete" data-count="{{ loop.index0 }}">
            <i class="fas fa-times red"></i>
          </div>
          
        </button>
        {% endfor %}
      </div>
    <!-- </div> -->
  </div>
</div>

<script>
  $(document).ready(function () {

    let playlist = {{ playlist_data | tojson }};
    let currentIndex = 0;
    let isPlaying = false;
    let isDeleteVisible = false;

    // 音量控制

    const $soundbarContainer = $("#soundbar-container");
    const $soundbar = $("#sound-bar");
    const $soundDisplay = $("#sound-display");

    $soundbarContainer.on("click", (e) => {
      const width = $soundbarContainer.width();
      const clickX = e.offsetX * 1.05;
      const volume = Math.min(clickX / width, 1);
      $soundbar.css("width", `${ volume * 100 }%`);
      audio.volume = volume;
      $soundDisplay.text(`${ Math.round(volume * 100) }%`);
    });

    // 進度條控制

    const $progressContainer = $("#progress-container");
    const $progress = $("#progress");

    $progressContainer.on("click", (e) => {
      const width = $progressContainer.width();
      const clickX = e.offsetX;
      const duration = audio.duration;
      audio.currentTime = (clickX / width) * duration;
    });

    // 播放清單管理

    const $playlist = $(".playlist");
    const $playlistButton = $("#playlist-button");

    function playlistVisibility() {
      if($playlist.css("display") === "none") {
        $playlist.fadeIn();
        $playlistButton.html('<i class="fas fa-chevron-left"></i>');
      } else {
        $playlist.fadeOut(235);
        $playlistButton.html('<i class="fas fa-chevron-right"></i>');
      }
    } 

    $("#playlist-button").on("click", playlistVisibility);

    // 重新載入播放清單

    function songHTML(song, index) {
      return `
        <button class="song neu-s" data-count="${index}">
          <img src="${song.thumbnail_url}" alt="${song.title}">
          <div class="song-text">
            <h2 class="song-title">
              ${song.title}
            </h2>
            <h3 class="artist-title">
              ${song.artist}
            </h3>
          </div>
          <div class="btn-delete" data-count="${index}">
            <i class="fas fa-times red"></i>
          </div>
        </button>
      `;
    }

    function reloadPlaylist() {
      $(".songlist").empty();
      playlist.forEach((song, index) => {
        $(".songlist").append(songHTML(song, index));
      });
      let deleteBtn = $(".btn-delete");
      if (isDeleteVisible) {
        deleteBtn.css("display", "block");
      }
    }

    // 新增音樂
    
    $("#playlist-add").on("click", function() {
      $("#input-modal").modal('show');
    });

    $("#add-music").on("click", async function() {
      const url = $("#recipient-name").val();

      if (url.trim() === '') {
        alert('請輸入有效的 URL。');
        return;
      }

      let data = null;

      await $.ajax({
        url: '/search_url',
        type: 'POST',
        data: { search_query: url },
        success: function(response) {
          data = response;
        }
      })

      $.ajax({
        url: '/add_music_to_playlist',
        type: 'POST',
        data: { music_id: data.id, playlist_id: {{ playlist_id }} },
        success: function(response) {
          if(response.status === 'error') {
            return alert('添加音樂失敗，請重試: ' + response.reason);
          }
          playlist.push(data);
          $(".songlist").append(songHTML(data, playlist.length - 1));
        },
        error: function(error) {
          alert('添加音樂失敗，請重試。');
        }
      });
    });

    // 刪除音樂

    $("#playlist-list").on("click", function() {
      let deleteBtn = $(".btn-delete");
      isDeleteVisible = !isDeleteVisible;
      if (isDeleteVisible) {
        deleteBtn.fadeIn();
      } else {
        deleteBtn.fadeOut(235);
      }
    });

    $(".song-list").on("click", ".btn-delete", function(event) {
      event.stopPropagation();
      const index = $(this).data("count");
      const song = playlist[index];
      $.ajax({
        url: '/remove_music_from_playlist',
        type: 'POST',
        data: { music_id: song.id, playlist_id: {{ playlist_id }} },
        success: function(response) {
          if(response.status === 'error') {
            return alert('刪除音樂失敗，請重試: ' + response.reason);
          }
          playlist.splice(index, 1);
          $('.songlist').children().eq(index).remove();
          if(index === currentIndex) {
            isPlaying = false;
            audio.pause();
            $("#play-button").html('<i class="fas fa-play"></i>');
            loadSong(0);
          }
          if(index < currentIndex) {
            currentIndex--;
          }
          reloadPlaylist();
        },
        error: function(error) {
          alert('刪除音樂失敗，請重試。');
        }
      });
    });

    // 隨機播放

    function shuffle(array) {
      for (let i = array.length - 1; i > 0; i--) {
        let j = Math.floor(Math.random() * (i + 1));
        [array[i], array[j]] = [array[j], array[i]];
      }
    }

    $("#shuffle-button").on("click", function() {
      const curID = playlist[currentIndex].id;
      shuffle(playlist);
      reloadPlaylist();
      currentIndex = playlist.findIndex(song => song.id === curID);
    });

    // 音樂播放器
    
    const $audioPlayer = $("#audio-player");
    const audio = $audioPlayer[0];

    function playSong() {
      audio.play().catch(error => {
        const cur = currentIndex;
        let searchQuery = JSON.stringify({ id: playlist[cur].id });
        $.ajax({
          url: '/search_id',
          type: 'POST',
          data: { search_query: searchQuery },
          success: function(response) {
            playlist[cur].audio_url = response.audio_url;
            $audioPlayer.attr("src", response.audio_url);
            if(cur === currentIndex) {
              loadSong(cur);
            }
          }
        });
      });
      $("#play-button").html('<i class="fas fa-pause"></i>');
    }

    function loadSong(index) {
      if(index < 0 || index >= playlist.length) {
        $("#song-title").text("No Music.");
        $("#artist-title").text("Add A Music?");
        $("#album-cover").attr("src", "https://media.istockphoto.com/id/1055079680/vector/black-linear-photo-camera-like-no-image-available.jpg?s=612x612&w=0&k=20&c=P1DebpeMIAtXj_ZbVsKVvg-duuL0v9DlrOZUvPG6UJk=");
        $audioPlayer.attr("src", undefined);
      } else {
        $("#song-title").text(playlist[index].title);
        $("#artist-title").text(playlist[index].artist);
        $("#album-cover").attr("src", playlist[index].thumbnail_url);
        $audioPlayer.attr("src", playlist[index].audio_url);
        currentIndex = index;
        if (isPlaying) {
          playSong();
        }
      }
    }

    function formatTime(seconds) {
      const minutes = Math.floor(seconds / 60);
      const secs = Math.floor(seconds % 60);
      return `${minutes}:${secs < 10 ? '0' : ''}${secs}`;
    }

    $audioPlayer.on("durationchange", () => {
      $("#total-display").text(formatTime(audio.duration));
    });

    $audioPlayer.on("timeupdate", () => {
      const currentTime = audio.currentTime;
      const duration = audio.duration;
      $progress.css("width", `${(currentTime / duration) * 100}%`);
      $("#now-display").text(formatTime(currentTime));
    });

    $audioPlayer.on("ended", function () {
      currentIndex = (currentIndex + 1) % playlist.length;
      loadSong(currentIndex);
    });

    // 按鈕處理

    $("#next-button").on("click", function () {
      currentIndex = (currentIndex + 1) % playlist.length;
      loadSong(currentIndex);
    });

    $("#prev-button").on("click", function () {
      currentIndex = (currentIndex - 1 + playlist.length) % playlist.length;
      loadSong(currentIndex);
    });

    $(".song-list").on("click", ".song", function () {
      const index = $(this).data("count");
      currentIndex = index;
      isPlaying = true;
      loadSong(index);
    });

    // 播放暫停按鈕

    $("#play-button").on("click", () => {
      if (isPlaying) {
        audio.pause();
        $("#play-button").html('<i class="fas fa-play"></i>');
      } else {
        playSong();
      }
      isPlaying = !isPlaying;
    });

    // Initialize with the first song
    loadSong(0);
  });
</script>

{% endblock %}